@import "bootstrap.min.css";

.App {
  text-align: center;
}

/* html,
body {
  width: 100vw;
  height: 100vh;
  background: #1f323e;
  background: radial-gradient(
      80% 0%,
      ellipse cover,
      rgba(66, 97, 104, 1) 0%,
      rgba(49, 67, 74, 0.1) 100%
    ),
    radial-gradient(
      20% 100%,
      ellipse cover,
      rgba(8, 13, 17, 1) 0%,
      rgba(36, 58, 67, 1) 100%
    );
} */
body {
  background: #2a0408;
  font-family: "Oswald", sans-serif;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 70vw;
  margin-left: 40px;
  margin-right: 40px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 2 / 1 / 3 / 2;
}
.div3 {
  grid-area: 3 / 1 / 4 / 2;
}
.div4 {
  grid-area: 4 / 1 / 5 / 2;
}
.div5 {
  grid-area: 4 / 2 / 5 / 3;
}
.div6 {
  grid-area: 3 / 2 / 4 / 3;
}
.div7 {
  grid-area: 2 / 2 / 3 / 3;
}
.div8 {
  grid-area: 1 / 2 / 2 / 3;
}
.div9 {
  grid-area: 1 / 3 / 2 / 4;
}
.div10 {
  grid-area: 2 / 3 / 3 / 4;
}
.div11 {
  grid-area: 3 / 3 / 4 / 4;
}
.div12 {
  grid-area: 4 / 3 / 5 / 4;
}
.div13 {
  grid-area: 4 / 4 / 5 / 5;
}
.div14 {
  grid-area: 3 / 4 / 4 / 5;
}
.div15 {
  grid-area: 2 / 4 / 3 / 5;
}
.div16 {
  grid-area: 1 / 4 / 2 / 5;
}

.dvr {
  background: pink;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}

.dvr:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -1px, 0px);
}

.dvr-click {
  background: #db1428;
  color: white;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -1px, 0px);
}
